@import "../../styles/main.scss";

$button-padding-horizontal: var(--spacing-8);

$button-default-color: var(--color-background-surface-neutral);
$button-default-color-hovered: var(--color-background-surface-neutral-hovered);
$button-default-color-active: var(--color-background-surface-neutral-active);
$button-default-color-focus: var(--color-background-surface-neutral-focus);

$button-motion-duration: var(--motion-duration-250);
$button-motion-ease: var(--motion-ease-in-out);

.Button {
	@extend %form-action;
	@extend %unselectable;
	cursor: pointer;
	border: none;
	justify-content: center;
	text-align: center;
	padding-left: $button-padding-horizontal;
	padding-right: $button-padding-horizontal;
	font-weight: var(--font-weight-semi-bold);
	background-color: $button-default-color;
	transition: background-color $button-motion-duration,
		box-shadow $button-motion-duration $button-motion-ease;
	&:hover,
	&.hovered {
		background-color: $button-default-color-hovered;
	}
	&:active,
	&.pressed {
		background-color: $button-default-color-active;
	}
	&:focus,
	&.focused {
		background-color: $button-default-color-focus;
	}
}
