@import "../../styles/main.scss";

$thumbnail-border-color: var(--color-border-disabled);
$thumbnail-small-border-radius: var(--border-radius-8);
$thumbnail-medium-border-radius: var(--border-radius-12);
$thumbnail-large-border-radius: var(--border-radius-16);
$thumbnail-extra-large-border-radius: var(--border-radius-23);
$thumbnail-circular-border-radius: var(--border-circular);
$thumbnail-small-size: pxToRem(40px);
$thumbnail-medium-size: pxToRem(60px);
$thumbnail-large-size: pxToRem(80px);
$thumbnail-extra-large-size: pxToRem(120px);

.Thumbnail {
	position: relative;
	display: block;
	overflow: hidden;
	border: 1px solid $thumbnail-border-color;
	min-width: $thumbnail-small-size;
	max-width: 100%;
	&--borderless {
		border: none;
	}
	&::after {
		content: "";
		display: block;
		padding-bottom: 100%;
	}
	&--small {
		border-radius: $thumbnail-small-border-radius;
		width: $thumbnail-small-size;
	}
	&--medium {
		border-radius: $thumbnail-medium-border-radius;
		width: $thumbnail-medium-size;
	}
	&--large {
		border-radius: $thumbnail-large-border-radius;
		width: $thumbnail-large-size;
	}
	&--extra-large {
		border-radius: $thumbnail-extra-large-border-radius;
		width: $thumbnail-extra-large-size;
	}
	&--circle {
		border-radius: $thumbnail-circular-border-radius;
	}
	& > * {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		max-width: 100%;
		max-height: 100%;
	}
	&--cover {
		& > * {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
}
