@import "../../styles/main.scss";

$choice-element-spacing: var(--spacing-1);
$choice-element-input-margin-right: var(--spacing-3);

$choice-element-text-size: var(--font-size-75);
$choice-line-height: var(--font-line-height-3);

$choice-element-toggle-size: pxToRem(18px);

$choice-element-help-text-color: var(--color-text-subtle);
$choice-element-error-text-color: var(--color-text-danger);

$choice-color-text-disabled: var(--color-text-disabled);

.ChoiceElement {
	display: flex;
	flex-direction: column;
	gap: $choice-element-spacing;
	.ChoiceElement__Label {
		display: flex;
		align-items: center;
		width: 100%;
		cursor: pointer;
		&__Toggle {
			margin-right: $choice-element-input-margin-right;
			display: flex;
			align-items: center;
			justify-content: center;
			line-height: 0;
			width: $choice-element-toggle-size;
			height: $choice-element-toggle-size;
			& > * {
				width: 100%;
				height: 100%;
			}
		}
		&__LabelText {
			font-size: $choice-element-text-size;
			line-height: $choice-line-height;
		}
		&[class*="disabled"] {
			cursor: default;
			.ChoiceElement__Label__LabelText {
				color: $choice-color-text-disabled;
			}
		}
	}
	&__Caption {
		display: flex;
		flex-direction: column;
		gap: $choice-element-spacing;
		font-size: $choice-element-text-size;
		line-height: $choice-line-height;
		padding-left: calc(
			$choice-element-input-margin-right + $choice-element-toggle-size
		);
		.ChoiceElement__HelpText {
			color: $choice-element-help-text-color;
		}
	}
}
