@import "../../styles/main.scss";

$choice-element-spacing: var(--spacing-1);
$choice-element-input-margin-right: var(--spacing-3);

$choice-element-text-size: var(--font-size-75);
$choice-line-height: var(--font-line-height-3);

$choice-element-toggle-size: pxToRem(20px);
$choice-element-fancy-toggle-width: pxToRem(38px);

$choice-element-help-text-color: var(--color-text-subtle);
$choice-element-error-text-color: var(--color-text-danger);

$choice-color-text-disabled: var(--color-text-disabled);

.ChoiceElement {
	max-width: 100%;
	display: inline-flex;
	flex-direction: column;
	&__Label {
		max-width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		cursor: pointer;
		&__Toggle {
			flex: none;
			display: block;
			width: $choice-element-toggle-size;
			height: $choice-element-toggle-size;
			&:not(:last-child) {
				margin-right: $choice-element-input-margin-right;
			}
		}
		&--fancy {
			.ChoiceElement__Label {
				&__Toggle {
					width: $choice-element-fancy-toggle-width;
					border-radius: $choice-element-fancy-toggle-width;
				}
			}
		}
		&__LabelText {
			font-size: $choice-element-text-size;
			flex: 1 1 0;
		}
		&[class*="disabled"] {
			cursor: default;
			.ChoiceElement__Label__LabelText {
				color: $choice-color-text-disabled;
			}
		}
	}
	&__Caption {
		display: flex;
		flex-direction: column;
		gap: $choice-element-spacing;
		font-size: $choice-element-text-size;
		line-height: $choice-line-height;
		padding-left: calc(
			$choice-element-input-margin-right + $choice-element-toggle-size
		);
		&--fancy {
			padding-left: calc(
				$choice-element-input-margin-right +
					$choice-element-fancy-toggle-width
			);
		}
		.ChoiceElement__HelpText {
			color: $choice-element-help-text-color;
		}
	}
}
