@import "../../styles/main.scss";

$empty-state-content-margin-top: var(--spacing-2);
$empty-state-actions-margin-top: var(--spacing-8);
$empty-state-tertiary-button-margin-top: var(--spacing-4);

$empty-state-icon-size: pxToRem(90px);
$empty-state-icon-size-lg: pxToRem(120px);
$empty-state-icon-backdrop-color: var(--color-background-surface-disabled);
$empty-state-icon-backdrop-border-radius: var(--border-radius-16);
$empty-state-icon-backdrop-border-radius-lg: var(--border-radius-23);
$empty-state-icon-color: var(--color-text-primary);
$empty-state-icon-text-size: pxToRem(60px);
$empty-state-icon-margin-bottom: var(--spacing-4);
$empty-state-icon-font-weight: var(--font-weight-semi-bold);

.EmptyState {
	&__Icon {
		width: $empty-state-icon-size;
		height: $empty-state-icon-size;
		background-color: $empty-state-icon-backdrop-color;
		border-radius: $empty-state-icon-backdrop-border-radius;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $empty-state-icon-color;
		font-size: $empty-state-icon-text-size;
		font-weight: $empty-state-icon-font-weight;
		margin-bottom: $empty-state-icon-margin-bottom;
		margin-left: auto;
		margin-right: auto;
		line-height: 1;
		svg {
			width: $empty-state-icon-text-size;
			height: $empty-state-icon-text-size;
		}
		@include md {
			width: $empty-state-icon-size-lg;
			height: $empty-state-icon-size-lg;
			border-radius: $empty-state-icon-backdrop-border-radius-lg;
		}
	}
	&__Details {
		text-align: center;
		.EmptyState {
			&__Content {
				margin-top: $empty-state-content-margin-top;
			}
			&__Actions {
				margin-top: $empty-state-actions-margin-top;
				.Stack + .Button {
					margin-top: $empty-state-tertiary-button-margin-top;
				}
			}
		}
	}
}
